<footer id="pageFooter">
    <div id="social">
            <a class="js-email">
                <img src="{{ "email.svg" | imagePath }}" alt="Email" width="25" height="25"/>
            </a>
            <a href="https://github.com/froggermtp">
                <img src="{{ "github.svg" | imagePath }}" alt="Github logo" width="25" height="25" />
            </a>
            <a href="https://twitter.com/froggermtp">
                <img src="{{ "twitter.svg" | imagePath }}" alt="Twitter logo" width="25" height="25" />
            </a>
            <a href="https://www.linkedin.com/in/matthew-parris/">
                <img src="{{ "linkedin.svg" | imagePath }}" alt="LinkedIn logo" width="25" height="25" />
            </a>
        </div>
    <div id="copyright">Copyright &copy 2020 Matthew Parris</div>
</footer>