<footer id="pageFooter">
    <div id="social">
            <a class="js-email">
                <img src="/assets/images/email.svg" alt="Email"/>
            </a>
            <a href="https://github.com/froggermtp">
                <img src="/assets/images/github.svg" alt="Github logo" />
            </a>
            <a href="https://twitter.com/froggermtp">
                <img src="/assets/images/twitter.svg" alt="Twitter logo" />
            </a>
            <a href="https://www.linkedin.com/in/matthew-parris/">
                <img src="/assets/images/linkedin.svg" alt="LinkedIn logo" />
            </a>
        </div>
    <div id="copyright">Copyright &copy 2020 Matthew Parris</div>
</footer>