<footer id="pageFooter">
    <div id="social">
            <a class="js-email">
                <img src="{{ "email.svg" | imagePath }}" alt="Email"/>
            </a>
            <a href="https://github.com/froggermtp">
                <img src="{{ "github.svg" | imagePath }}" alt="Github logo" />
            </a>
            <a href="https://twitter.com/froggermtp">
                <img src="{{ "twitter.svg" | imagePath }}" alt="Twitter logo" />
            </a>
            <a href="https://www.linkedin.com/in/matthew-parris/">
                <img src="{{ "linkedin.svg" | imagePath }}" alt="LinkedIn logo" />
            </a>
        </div>
    <div id="copyright">Copyright &copy 2020 Matthew Parris</div>
</footer>