<nav id="mainNav">
    <div id="navContainer">
        <a href="/" id="logo">Matthew Parris</a>
        <div id="header-buttons">
            <a class="header-button" id="home-button" href="/">Home</a>
            <a class="header-button" href="/blog">Blog</a>
            <a class="header-button" href="/links">Links</a>
            <a class="header-button" href="/about">About Me</a>
        </div>
        <div id="nav-header">
            <div id="mobile-menu-button" class="hamburger-button" tabindex="0">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
    </div>
</nav>