<nav class="nav">
    <div class="nav-content">
        <a href="/" class="nav-logo">Matthew Parris</a>
        <div class="nav-buttons">
            <a class="nav-button" href="/">Home</a>
            <a class="nav-button" href="/blog">Blog</a>
            <a class="nav-button" href="/links">Links</a>
            <a class="nav-button" href="/about">About Me</a>
        </div>
    </div>
</nav>