<footer>
    <div id="social">
             <span>
                 <img src="/img/email.svg" />
             </span>
             <span>
                 <img src="/img/github.svg" />
             </span>
             <span>
                 <img src="/img/twitter.svg" />
             </span>
             <span>
                 <img src="/img/linkedin.svg" />
            </span>
        </div>
    <div id="copyright">Copyright &copy 2019 Matthew Parris</div>
</footer>