{% set most_recent_post = collections.post[collections.post.length - 1] %}

<article id="most-recent-post">
    <header>
        <h3>
            <a href="{{ most_recent_post.url | url }}">{{ most_recent_post.data.title }}</a>
        </h3>
    </header>
    <p>
        {{ most_recent_post.templateContent | striptags(true) | removeFootnote | truncate(280) | replace("&quot;", '"') }}
    </p>
    <footer class="article-footer">
        <a class="readMore" href="/blog">More Posts</a>
    </footer>
</article>