<nav id="mainNav">
    <div id="header-buttons">
        <button class="header-button">Resume</button>
        <button class="header-button">Blog</button>
    </div>
    <div id="nav-header">
        <div id="mobile-menu-button" class="hamburger-button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div> 
    </div>
</nav>