<nav id="mainNav">
    <div id="navContainer">
        <span id="logo">Matthew Parris</span>
        <div id="header-buttons">
            <button class="header-button">Home</button>
            <button class="header-button">Blog</button>
        </div>
        <div id="nav-header">
            <div id="mobile-menu-button" class="hamburger-button">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div> 
        </div>
    </div>
</nav>
<script>
    document.getElementById('mobile-menu-button')
        .addEventListener('click', function(e) {
        document.querySelector('nav').classList.toggle('fullscreen');

        const buttons = document.querySelectorAll('.header-button + .header-button');

        for(let button of buttons) {
            button.classList.toggle('block');
        }
        
    });
</script>