---
title: Blog
pagination:
    data: collections.post
    size: 2
    reverse: true
    alias: posts
---

{% extends "main-layout.njk" %}
{% import "macros/blog-macros.njk" as blogMacros %}

{% block head %}
  {{ super() }}

  {% set css %}
      {% include "css/blog.css" %}
  {% endset %}

  <style>
      {{ css | cssmin | safe }}
  </style>

{% endblock %}

{% block content %}

<div id="posts">
{% for post in posts %}
  {{ blogMacros.article(post) }}
{% endfor %}
</div>

<nav id="pagination">
    {% if pagination.previousPageHref %}
      <a href="{{ pagination.previousPageHref }}" class="new">Newer posts</a>
    {% endif %}
    {% if pagination.nextPageHref %}
      <a href="{{ pagination.nextPageHref }}" class="old">Older posts</a>
    {% endif %}
</nav>

{% endblock %}