---
layout: index-layout.njk
title: Home | Matthew Parris
description: Home page
---

<div id="main-container">
    <header>
        <nav>
            <div id="header-buttons">
                <button class="header-button">Resume</button>
                <button class="header-button">Blog</button>
            </div>
            <div id="nav-header">
                <div id="mobile-menu-button" class="hamburger-button">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div> 
            </div>
        </nav>
        <div id="header-content">
            <img src="img/header-avatar.jpg" id="header-avatar">
        </div>
    </header>
    <section id="introduction-section">
        <h2>I'm Matthew Parris, a computer science student at The University of Tulsa</h2>
        <p>
            I want to make the world a better place—by utilizing science,
            technology, engineering, and math as well as an audicious amount
            of em dashes. In middle school, I got into making some really 
            terrible video games. Now, I code corporate applications 🎉. It's
            some serious stuff. Some of the buzzwords that I am currently into:
            Javascript, Node JS, Puppeteer, browser automation, and 
            single-page applications.
        </p>
    </section>
    <div id="experiences-container">
        <h2>Here's some things I've done</h2>
        <section id="paycom-section">
            <div class="experience-header">
                <h2 class="experience-title">Software Development Intern</h2>
                <h3 class="experience-company">Paycom</h3>
                <h4 class="experience-date">Summer 2019</h4>
            </div>
            <div class="experience-img-container">
                <img class="experience-img" src="img/paycom.jpg" alt="paycom"/>
            </div>
        </section>
        <section id="encore-section">
            <div class="experience-header">
                <h4 class="experience-title">Security Guard</h4>
                <h2 class="experience-company">Encore Pro Staffing</h2>
                <h3 class="experience-date">Summer 2018</h3>
            </div>
            <div class="experience-img-container">
                <img class="experience-img" src="img/encore.jpg" alt="encore"/>
            </div>
        </section>
    </div>
</div>
<footer>
    <div id="social">
             <span>
                 <img src="img/email.svg" />
             </span>
             <span>
                 <img src="img\github.svg" />
             </span>
             <span>
                 <img src="img/twitter.svg" />
             </span>
             <span>
                 <img src="img/linkedin.svg" />
            </span>
        </div>
    <div id="copyright">Copyright &copy 2019 Matthew Parris</div>
</footer>
<script>
    document.getElementById('mobile-menu-button')
        .addEventListener('click', function(e) {
        document.querySelector('nav').classList.toggle('fullscreen');

        const buttons = document.querySelectorAll('.header-button + .header-button');

        for(let button of buttons) {
            button.classList.toggle('block');
        }
        
    });
</script>