---
title: Home
description: Homepage for Matthew Parris's personal website
---

{% extends "main-layout.njk" %}

{% block head %}
    {{ super() }}

    {% set css %}
        {% include "css/index.css" %}
        {% include "css/most-recent-post.css" %}
    {% endset %}

    <style>
        {{ css | cssmin | safe }}
    </style>
{% endblock %}

{% block content %}
    <header>
        <div id="header-content">
            <img src="/img/header-avatar.jpg" id="header-avatar" alt="A not so professional headshot of Matthew">
        </div>
    </header>

    <section id="introduction-section">
        <h2>Hi, I'm Matthew</h2>
        <span>
            I've just recently graduated from the University of Tulsa with a degree in computer science.
            Right now, I am stuck at my house due to coronavirus.
        </span>

        <span>On here, I am writing about topics tangent to the important stuff.</span>
        
    </section>

    <section>
        <h2>Blog</h2>
        {% include "parts/_most-recent-post.njk" %}
    </section>
{% endblock %}