#header-avatar {
    max-width: 175px;
    max-height: 175PX;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 50%;
}

header {
    height: 200px;
    text-align: center; /* remove this */
    margin-bottom: var(--space-lg);
}

section {
    width: 100%;
}

h2 {
    font-size: 1.1rem;
    margin-bottom: var(--space-lg);
}

#experiences-container {
    width: 100%;
}

#experiences-container > h2 {
    margin-bottom: var(--space-xl);
}

#experiences-container > section {
    margin-bottom: var(--space-xl);
}

.experience-img-container {
    margin: 0 var(--space-xl) var(--space-med) var(--space-xl);
}

.experience-img {
    width: 100%;
    height: auto;
    min-height: 210px;
    object-fit: cover;
}

.experience-header {
    margin: 0 0 var(--space-lg) var(--space-xl);
    display: flex;
    flex-flow: column wrap;
    padding-left: 5px;
}

.experience-date {
    margin: 0;
    color: var(--color-light-grey);
    font-weight: 400;
    font-size: .85rem;
}

.experience-title {
    margin: 0;
    color: var(--color-black);
    font-weight: 700;
    font-size: 1rem;
}

.experience-company {
    margin: 0;
    color: var(--color-grey);
    font-weight: 400;
    font-size: .9rem;
}

#paycom-section > .experience-header {
    border-left: 6px solid rgb(0, 98, 66);
}

#encore-section > .experience-header {
    border-left: 6px solid rgb(41, 65, 122);
}

@media only screen and (min-width: 920px) {
    #experiences-container section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .experience-img-container {
        max-width: 400px;
    }

    #experiences-container .experience-header {
        border-left: none;
    }
}