:root {
    --space-sm: .25rem;
    --space-med: .5rem;
    --space-lg: 1rem;
    --space-xl: 2rem;
    --space-xxl: 4rem;

    --color-dark: hsl(0, 0%, 13%);
    --color-grey: hsl(0, 0%, 29%);
    --color-light-grey: hsl(0, 0%, 45%);
}

* {
    color: var(--color-dark);
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    margin: 0 var(--space-xl) var(--space-med) var(--space-xl);
}

p {
    line-height: 1.5;
    margin: 0 var(--space-xl) var(--space-med) var(--space-xl);
}

section {
    margin-bottom: var(--space-lg);
}

.bowlby {
    font-family: 'Bowlby One SC', cursive;
}

.sourceSansPro {
    font-family: 'Source Sans Pro', sans-serif;
}



#main-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 730px;
    margin-top: 50px;
    min-height: calc(100vh - 122px);
}

#mainNav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
    z-index: 2;
    background: #fff;
}

#header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    overflow: hidden;
}

.header-button {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: #f44336;
    color: red;
    margin: var(--space-med) 0 var(--space-med) var(--space-lg);
    padding: 5px 8px 5px 8px;
    min-width: 72px;
}

.header-button:hover {
    background: #f44336;
    color: white;
}

.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-right: var(--space-lg);
}
  
.bar1, .bar2, .bar3 {
    width: 18px;
    height: 2.5px;
    background-color: #333;
    margin: 3.5px 0 0 0;
}

.bar3 {
    margin-bottom: 6px;
}

#nav-header {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

#mainNav.fullscreen {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

#mainNav.fullscreen button {
    font-size: 1.4rem;
    border: none;
    color: var(--color-grey);
    margin-left: 0;
}

#mainNav.fullscreen button:hover {
    background-color: var(--color-light-grey);
    color: var(--color-black);
}

/** Footer **/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75px;
    text-align: center;
    /* background-color: #d3d3d3; */
}

#social {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-lg);
}

#social > span + span {
    margin-left: var(--space-lg);
}

#social img {
    height: 25px;
    width: 25px;
}

#copyright {
    margin-bottom: var(--space-lg);
    color: var(--color-grey);
}

@media only screen and (min-width: 768px) {
    #main-container {
        width: 70%;
        margin: 50px auto 0;
    }

    #mainNav {
        justify-content: center;
    }

    #nav-header {
        display: none;
    }

    #header-buttons {
        flex-direction: row;
        justify-content: flex-end;
        width: 70%;
        max-width: 730px;
    }

    .header-button {
        border: none;
        color: var(--color-grey);
    }

    .header-button:hover {
        background-color: white;
        color: var(--color-black);
        padding-bottom: 13px;
    }
}

@media only screen and (min-width: 920px) {
    #social > span + span {
        margin-left: var(--space-xl);
    }
}