header {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
    font-weight: 700;
    font-size: 1.5rem;
}

header h1 {
    margin-bottom: var(--space-lg);
}

#postInfo {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-left: var(--space-xl);
    color: var(--color-grey);
    font-weight: 400;
    font-size: .9rem;
}