---
layout: main.njk
permalink: /links/
title: Links
description: Collection of links for Matthew Parris's personal website
changeFreq: weekly
assets:
  styles:
    - links.css
  scripts:
    - links.js
links:
  - url: https://mereorthodoxy.com/
    tags: ["Christian", "various-authors"]
  - url: https://www.firstthings.com/
    tags: ["Christian", "various-authors"]
  - url: https://www.plough.com/
    tags: ["Christian", "various-authors"]
  - url: https://adfontesjournal.com/
    tags: ["Christian", "various-authors"]
  - url: https://americanreformer.org/
    tags: ["Christian", "various-authors"]
  - url: https://theopolisinstitute.com/
    tags: ["Christian", "various-authors"]
  - url: https://www.thegospelcoalition.org/
    tags: ["Christian", "various-authors"]
  - url: https://www.desiringgod.org/
    tags: ["Christian", "various-authors"]
  - url: https://comment.org/
    tags: ["Christian", "various-authors"]
  - url: https://thinktheology.co.uk/
    tags: ["Christian", "various-authors"]
  - url: https://www.christianitytoday.com/
    tags: ["Christian", "various-authors"]
  - url: https://northamanglican.com/
    tags: ["Christian", "various-authors"]
  - url: https://www.logos.com/grow/
    tags: ["Christian", "various-authors"]
  - url: https://thelampmagazine.com/
    tags: ["Christian", "various-authors"]
  - url: https://anglicancompass.com/
    tags: ["Christian", "various-authors"]
  - url: https://www.dailyoffice2019.com/
    tags: ["Christian", "book"]
  - url: https://www.frontporchrepublic.com/
    tags: ["politics", "various-authors"]
  - url: https://blog.ayjay.org/
    tags: ["Christian"]
  - url: https://www.bradeast.org/blog
    tags: ["Christian"]
  - url: https://hedgehogreview.com/
    tags: ["various-authors"]
  - url: https://experimentaltheology.blogspot.com/
    tags: ["Christian"]
  - url: https://paulvanderklay.me/
    tags: ["Christian"]
  - url: https://augustinus.cc/
    tags: ["Christian", "book"]
  - url: https://alastairadversaria.com/
    tags: ["Christian"]
  - url: https://benmakuh.com/
    tags: ["Christian"]
  - url: https://v5.chriskrycho.com/
    tags: ["Christian"]
  - url: https://bradlittlejohn.com/
    tags: ["Christian"]
  - url: https://worksinprogress.co/
    tags: ["various-authors"]
  - url: https://credomag.com/
    tags: ["Christian", "various-authors"]
  - url: https://www.newadvent.org/
    tags: ["Christian"]
  - url: https://www.aquinasinstitute.org/
    tags: ["Christian"]
  - url: https://compactmag.com/
    tags: ["politics", "various-authors"]
  - url: https://www.moonshinemagnolias.com/
    tags: ["various-authors"]
  - url: https://ravenmagazine.org/
    tags: ["culture", "various-authors"]
  - url: https://thepointmag.com/
    tags: ["culture", "various-authors"]
  - url: https://aeon.co/
    tags: ["various-authors"]
  - url: https://matt.might.net/articles/
    tags: ["tech"]
  - url: https://social.ayjay.org/
    tags: ["Christian"]
  - url: https://www.christiancentury.org/
    tags: ["Christian"]
  - url: https://theartoforthodoxy.com/
    tags: ["Christian"]
  - url: https://www.sacrapress.com/
    tags: ["Christian"]
  - url: https://www.avabear.xyz/
    tags: ["substack", "culture"]
  - url: https://nabeelqu.substack.com/
    tags: ["substack", "culture"]
  - url: https://scottsumner.substack.com/
    tags: ["substack", "economics"]
  - url: https://www.betonit.ai/
    tags: ["substack", "economics"]
  - url: https://www.digitalliturgies.net/
    tags: ["substack", "Christian"]
  - url: https://walkingtheworld.substack.com/
    tags: ["substack", "culture"]
  - url: https://arbesman.substack.com/
    tags: ["substack", "science"]
  - url: https://www.graphsaboutreligion.com/
    tags: ["substack", "Christian"]
  - url: https://www.aaronrenn.com/
    tags: ["substack", "Christian"]
  - url: https://profadamroberts.substack.com/
    tags: ["substack", "culture"]
  - url: https://forklightning.substack.com/
    tags: ["substack", "economics"]
  - url: https://onepercentrule.substack.com/
    tags: ["substack", "economics"]
  - url: https://chloevaldary.substack.com/
    tags: ["substack", "politics"]
  - url: https://shagbark.substack.com/
    tags: ["substack", "culture"]
  - url: https://philipchristman.substack.com/
    tags: ["substack", "culture"]
  - url: https://thenewalbion.substack.com/
    tags: ["substack", "Christian"]
  - url: https://www.the-hinternet.com/
    tags: ["substack", "culture"]
  - url: https://www.maximum-progress.com/
    tags: ["substack", "economics"]
  - url: https://www.siliconcontinent.com/
    tags: ["substack", "tech"]
  - url: https://freddiedeboer.substack.com/
    tags: ["substack", "politics"]
  - url: https://nicholasdecker.substack.com/
    tags: ["substack", "economics"]
  - url: https://www.paymentsculture.com/
    tags: ["substack", "economics"]
  - url: https://www.ggd.world/
    tags: ["substack", "economics"]
  - url: https://thezvi.substack.com/
    tags: ["substack", "AI"]
  - url: https://www.grumpy-economist.com/
    tags: ["substack", "economics"]
  - url: https://theconvivialsociety.substack.com/
    tags: ["substack", "culture"]
  - url: https://timothyburke.substack.com/
    tags: ["substack", "culture"]
  - url: https://www.wayfaremagazine.org/
    tags: ["substack", "culture"]
  - url: https://www.theintrinsicperspective.com/
    tags: ["substack", "AI"]
  - url: https://interintellect.substack.com/
    tags: ["substack", "culture"]
  - url: https://davidbentleyhart.substack.com/
    tags: ["substack", "Christian"]
  - url: https://www.newcartographies.com/
    tags: ["substack", "culture"]
  - url: https://maxread.substack.com/
    tags: ["substack", "culture"]
  - url: https://www.readtrung.com/
    tags: ["substack", "tech"]
  - url: https://www.dwarkeshpatel.com/
    tags: ["substack", "culture"]
  - url: https://substack.com/@samirvarma
    tags: ["substack", "economics"]
  - url: https://www.hyperdimensional.co/
    tags: ["substack", "politics"]
  - url: https://kennethrogoff.substack.com/
    tags: ["substack", "economics"]
  - url: https://1517.substack.com/
    tags: ["substack", "tech"]
  - url: https://aiguide.substack.com/
    tags: ["substack", "AI"]
  - url: https://kyla.substack.com/
    tags: ["substack", "economics"]
  - url: https://jordandanielwood.substack.com/
    tags: ["substack", "Christian"]
  - url: https://lydialaurenson.substack.com/
    tags: ["substack", "culture"]
  - url: https://www.overcomingbias.com/
    tags: ["substack", "economics"]
  - url: https://rmhurd.substack.com/
    tags: ["substack", "Christian"]
  - url: https://theendsdontjustifythemeans.substack.com/
    tags: ["substack", "culture"]
  - url: https://secondvoice.substack.com/
    tags: ["substack", "culture"]
  - url: https://newsletter.humanprogress.org/
    tags: ["substack", "economics"]
  - url: https://www.commonreader.co.uk/
    tags: ["substack", "culture"]
  - url: https://joshuatravisbrown.substack.com/
    tags: ["substack", "culture"]
  - url: https://secondthoughts.ai/
    tags: ["substack", "AI"]
  - url: https://www.avdullahyousef.com/
    tags: ["substack", "culture"]
  - url: https://sciencepolicyinsider.substack.com/
    tags: ["substack", "science"]
  - url: https://default.blog/
    tags: ["substack", "culture"]
  - url: https://www.humaninvariant.com/
    tags: ["substack", "economics"]
  - url: https://inexactscience.substack.com/
    tags: ["substack", "science"]
  - url: https://nodumbideas.com/
    tags: ["substack", "economics"]
  - url: https://drfrancisyoung.substack.com/
    tags: ["substack", "culture"]
  - url: https://substack.com/@northseaanalytics
    tags: ["substack", "economics"]
  - url: https://www.econforeverybody.com/
    tags: ["substack", "economics"]
  - url: https://austinkleon.substack.com/
    tags: ["substack", "culture"]
  - url: https://www.scientificdiscovery.dev/
    tags: ["substack", "science"]
  - url: https://paulvanderklay.substack.com/
    tags: ["substack", "Christian"]
  - url: https://www.aporiamagazine.com/
    tags: ["substack", "science"]
  - url: https://nuancepill.substack.com/
    tags: ["substack", "politics"]
  - url: https://www.notboring.co/
    tags: ["substack", "tech"]
  - url: https://ideasindevelopment.substack.com/
    tags: ["substack", "economics"]
  - url: https://davidoks.blog/
    tags: ["substack", "economics"]
  - url: https://www.astralcodexten.com/
    tags: ["substack", "culture"]
  - url: https://arnoldkling.substack.com/
    tags: ["substack", "economics"]
  - url: https://thepursuitofliberalism.substack.com/
    tags: ["substack", "politics"]
  - url: https://www.maryharrington.co.uk/
    tags: ["substack", "politics"]
  - url: https://www.richardhanania.com/
    tags: ["substack", "politics"]
  - url: https://thetwocents.substack.com/
    tags: ["substack", "economics"]
  - url: https://theprogressnetwork.substack.com/
    tags: ["substack", "economics"]
  - url: https://casssunstein.substack.com/
    tags: ["substack", "economics"]
  - url: https://sebastiangaliani.substack.com/
    tags: ["substack", "economics"]
  - url: https://cpwalker.substack.com/
    tags: ["substack", "tech"]
  - url: https://crross457183.substack.com/
    tags: ["substack", "Christian"]
  - url: https://substack.com/@jonathanbate
    tags: ["substack", "culture"]
  - url: https://newsletter.jantegze.com/
    tags: ["substack", "tech"]
  - url: https://agglomerations.substack.com/
    tags: ["substack", "economics"]
  - url: https://plausiblyexogenous.substack.com/
    tags: ["substack", "economics"]
  - url: https://ratorthodox.substack.com/
    tags: ["substack", "Christian"]
  - url: https://www.understandingai.org/
    tags: ["substack", "AI"]
  - url: https://pmarca.substack.com/
    tags: ["substack", "tech"]
  - url: https://www.cremieux.xyz/
    tags: ["substack", "science"]
  - url: https://www.cartoonshateher.com/
    tags: ["substack", "culture"]
  - url: https://www.derekthompson.org/
    tags: ["substack", "culture"]
  - url: https://www.noahpinion.blog/
    tags: ["substack", "economics"]
  - url: https://www.robkhenderson.com/
    tags: ["substack", "culture"]
  - url: https://newsletter.pragmaticengineer.com/
    tags: ["substack", "tech"]
  - url: https://scholarstage.substack.com/
    tags: ["substack", "culture"]
  - url: https://drewdevault.com/
    tags: ["tech"]
  - url: https://begriffs.com/
    tags: ["tech"]
  - url: https://joeyh.name/
    tags: ["tech"]
  - url: https://nullprogram.com/index/
    tags: ["tech"]
  - url: https://www.makeworld.space/
    tags: ["tech"]
  - url: https://blog.brixit.nl/
    tags: ["tech"]
  - url: https://mainlining.dev/
    tags: ["tech"]
  - url: https://austinhenley.com/blog.html
    tags: ["tech"]
  - url: https://pdx.su/
    tags: ["tech"]
  - url: https://slimemoldtimemold.com/
    tags: ["science"]
  - url: https://guzey.com/
    tags: ["science"]
  - url: https://lloydrochester.com/
    tags: ["tech"]
  - url: https://adrianco.medium.com/
    tags: ["tech"]
  - url: https://pxlnv.com/
    tags: ["tech"]
  - url: https://bitfieldconsulting.com/posts
    tags: ["tech"]
  - url: https://depot.dev/blog
    tags: ["tech"]
  - url: https://peter.bourgon.org/blog/
    tags: ["tech"]
  - url: https://blog.smidt.dev/posts/
    tags: ["tech"]
  - url: https://jakeseliger.com/
    tags: ["culture"]
  - url: https://thedailyeconomy.org/
    tags: ["economics", "various-authors"]
  - url: https://www.bitsaboutmoney.com/
    tags: ["economics"]
  - url: https://fredfredfred.com/
    tags: ["Christian"]
  - url: https://hackeducation.com/
    tags: ["culture"]
  - url: https://audreywatters.com/
    tags: ["culture"]
  - url: https://micro.bradeast.org/
    tags: ["Christian"]
  - url: https://crawshaw.io/
    tags: ["tech"]
  - url: https://research.swtch.com/
    tags: ["tech"]
  - url: https://ericmurphy.xyz/blog/
    tags: ["tech"]
  - url: https://manuelmoreale.com/
    tags: ["culture"]
  - url: https://www.cozynet.org/
    tags: ["culture"]
  - url: https://beej.us/
    tags: ["tech"]
  - url: https://kenthendricks.com/
    tags: ["culture"]
  - url: https://nicholas.carlini.com/writing
    tags: ["tech"]
  - url: https://blog.samaltman.com/reflections
    tags: ["tech"]
  - url: https://quarter--mile.com/
    tags: ["culture"]
  - url: https://economistwritingeveryday.com/blog/
    tags: ["economics", "various-authors"]
  - url: https://jvns.ca/
    tags: ["tech"]
  - url: https://jacksondahl.com/About
    tags: ["culture"]
  - url: https://jxnl.co/writing/
    tags: ["tech"]
  - url: https://ponnekanti.net/
    tags: ["culture"]
  - url: https://lexi-lambda.github.io/
    tags: ["tech"]
  - url: https://blog.glyph.im/archives.html
    tags: ["tech"]
  - url: https://afkimel.wordpress.com/
    tags: ["Christian"]
  - url: https://grantslatton.com/
    tags: ["tech"]
  - url: https://taylor.town/
    tags: ["culture"]
  - url: https://www.benkuhn.net/
    tags: ["tech"]
  - url: https://scribesofthekingdom.com/
    tags: ["Christian"]
  - url: https://www.robinsloan.com/lab/
    tags: ["culture"]
  - url: https://surfingcomplexity.blog/
    tags: ["tech"]
  - url: https://www.visakanv.com/blog/
    tags: ["culture"]
  - url: https://www.seangoedecke.com/
    tags: ["tech"]
  - url: https://danwang.co/
    tags: ["politics"]
  - url: https://marginalrevolution.com/
    tags: ["economics", "various-authors"]
  - url: https://www.austinvernon.site/index.html
    tags: ["tech"]
  - url: https://www.gleech.org/
    tags: ["culture"]
---
<header id="links-page-header">
  <h1>Links</h1>
</header>

<div class="text-container">
  <p>
    These are some links to other websites that I like reading or want to bookmark.
    Obviously, I don't necessarily endorse or agree with everything posted.
    <br><br>
    There are tags to organize them into categories.
    Click on the tag buttons below to filter.
  </p>
  <div class="space-xl"></div>
  <div class="tag-list">
    {% set tags = links | mapGetAttr("tags") | flatten | unique %}
    {% for tag in tags %}
    <div class="tag-list-item js-tag-selector">#{{ tag }}</div>
    {% endfor %}
  </div>
  <div id="links">
    {% for link in links %}
    <div class="link-container js-link-container {% for tag in link.tags %}js-{{ tag }} {% endfor %}">
      <a class="link-href" href="{{ link.url }}">{{ link.url }}</a>
      <span class="link-description">{{ link.description }}</span>
      <div class="link-tags">
      {% for tag in link.tags %}
        <span class="link-tag">#{{ tag }}</span>
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
