{% macro article(post) %}

<article>
        <header>
            <h1 class="blogTitle">
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </h1>
            <div class="metadata">
                <span>Posted on</span>
                <time>{{ post.date | date("LL") | safe }}</time>
            </div>
        </header>
        <p>
            {{ post.templateContent | striptags(true) | removeFootnote | truncate(280) }}
        </p>
        <footer class="article-footer">
            <a class="readMore" href="{{ post.url | url }}">Read more</a>
        </footer>
</article>

{% endmacro %}