{% extends "main-layout.njk" %}

{% block head %}
    {{ super() }}

    {% set css %}
        {% include "css/index.css" %}
    {% endset %}

    <style>
        {{ css | cssmin | safe }}
    </style>
{% endblock %}

{% block content %}
<header>
    <div id="header-content">
        <img src="/img/header-avatar.jpg" id="header-avatar" alt="A not so professional headshot of Matthew">
    </div>
</header>
{% endblock %}