---
permalink: 404.html
title: Oops! Not Found
description: The page you are looking for is unavailable
changeFreq: yearly
---

{% extends "main-layout.njk" %}

{% block head %}
    {{ super() }}
    {% set css %}
        {% include "404.css" %}
    {% endset %}

    <style>
        {{ css | cssmin | safe }}
    </style>
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>The page you were looking for could not be found.</p>
    <p>No worries! You can always stop by the <a href="/">homepage</a> or <a href="/blog">my blog</a>.</p>
{% endblock %}