---
layout: main.njk
title: Home
description: Homepage for Matthew Parris's personal website
changeFreq: weekly
assets:
    styles:
        - index.css
        - most-recent-post.css
---
<section id="introduction-section">
    <header class="left">
        <div id="header-content">
            <img 
                src="{{ "header-avatar.jpg" | imagePath }}" 
                id="header-avatar" 
                alt="A not so professional headshot of Matthew"
                width="175"
                height="175"
            >
        </div>
    </header>
    <div class="right">
        <h2>Hi, I'm Matthew</h2>

        <p>Currently, I'm a DevOps Software Engineer at Paycom.</p>

        <p>This website has no purpose other than being my own little place on the Internet.</p>

        <p>I write about a lot of things. Enjoy.</p>
    </div>   
</section>

<section>
    <div class="left">
        <h2>Blog</h2>
    </div>
    <div class="right">
        {% include "mostRecentPost.njk" %}
    </div>
</section>