---
title: About Me
description: I'm Matthew Parris • Christian • Software Developer
changeFreq: monthly
---

{% extends "main.njk" %}

{% block head %}
    {{ super() }}

    {% style %}
        about-me.css
    {% endstyle %}
{% endblock %}

{% block content %}
    {% wrappedImage "/matthew-parris-by-tree.jpg" %}
        Matthew with hand on chin next to a swaying tree
    {% endwrappedImage %}
    <article class=".article">
        {{ content | safe }}
    <article>
{% endblock %}