---
title: About Me
description: I'm Matthew Parris • Christian • Software Developer
changeFreq: monthly
---

{% extends "main.njk" %}

{% block head %}
    {{ super() }}

    {% set css %}
        {% include "about-me.css" %}
    {% endset %}

    <style>
        {{ css | cssmin | safe }}
    </style>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <img class="wrapper__image" src="/img/matthew-parris-by-tree.jpg" alt="Matthew with hand on chin next to a swaying tree"/>
    </div>
    <article class=".article">
        {{ content | safe }}
    <article>
{% endblock %}