---
layout: main.njk
title: About Me
description: I'm Matthew Parris • Christian • Software Developer
changeFreq: monthly
assets:
    styles:
        - about-me.css
---
<div class="wrapper">
    <img 
        class="img wrapper__image"
        src="{{ "matthew-parris-by-tree.jpg" | imagePath }}"
        alt="Matthew with hand on chin next to a swaying tree"
    />
</div>
<article class=".article">
    {{ content | safe }}
<article>