<!doctype html>

<html lang="en">
    <head>
    {% block head %}
        {% include "metadata.njk" %}

        {% style %}
            {% for style in assets.styles %}
                {{ style }}
            {% endfor %}
        {% endstyle %}

        {% script { defer: true } %}
            {% for script in assets.scripts %}
                {{ script }}
            {% endfor %}
        {% endscript %}
    {% endblock %}
    </head>
    
    <body>
        <div id="main-container">
            {% include "nav.njk" %}
            {{ content | safe }}
        </div>
        {% include "footer.njk" %}
    </body>
</html>