<!doctype html>

<html lang="en">
    <head>
    {% block head %}
        {% include "metadata.njk" %}

        {% set css %}
            {% for style in assets.styles %}
                {% include "../assets/styles/" + style %}
            {% endfor %}
        {% endset %}

        <style>
            {{ css | cssmin | safe }}
        </style>

        {% set js %}
            {% for script in assets.scripts %}
                {% include "../assets/scripts/" + script %}
            {% endfor %}
        {% endset %}

        <script>
            {{ js | jsmin | safe }}
        </script>
    {% endblock %}
    </head>
    
    <body>
        {% include "nav.njk" %}
        <div id="main-container">
            {{ content | safe }}
        </div>
        {% include "footer.njk" %}
    </body>
</html>