---
assets:
    styles:
        - post.css
    scripts:
        - share.js
        - consoleCopy.js
---
<article>
    <header>
        <div id="mainImage">
            {% image mainImage %}
                {{ mainImageAltText }}
            {% endimage %}
        </div>
        <h1 id="title">{{ title | safe }}</h1>
        <div class="metadata box box--start box--vertical-center js-share">
            <p id="date">Originally written: <time>{{ page.date | date("LL") | safe }}</time></p>
        </div>
    </header>
    <div class="articleContent">
        {{ content | safe }}
    </div>
</article>

<nav id="otherPosts">
{% if collections.postInfo[page.url].nextTitle %}
    <div id="next">
        <span>Next post</span>
        <a href="{{ collections.postInfo[page.url].nextUrl }}">{{ collections.postInfo[page.url].nextTitle }}</a>
    </div>
{% endif %}
{% if collections.postInfo[page.url].previousTitle %}
    <div id="previous">
        <span>Previous post</span>
        <a href="{{ collections.postInfo[page.url].previousUrl }}">{{ collections.postInfo[page.url].previousTitle }}</a>
    </div>
{% endif %}
</nav>