{% extends "main.njk" %}

{% block head %}
    {{ super() }}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ mainImage }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ mainImage }}" />

    {% set css %}
        {% include "post.css" %}
    {% endset %}

    <style>
        {{ css | cssmin | safe }}
    </style>
{% endblock %}

{% block content %}
    <article>
        <header>
            <div id="mainImage">
                {# <img src="{{ mainImage | safe }}" alt="{{ mainImageAltText | safe }}"></img> #}
                {% image mainImage %}
                    {{ mainImageAltText }}
                {% endimage %}
            </div>
            <h1 id="title">{{ title | safe }}</h1>
            <div class="box box--split js-share">
                <p id="date">Originally written: <time>{{ page.date | date("LL") | safe }}</time></p>
            </div>
        </header>
        <div class="articleContent">
            {{ content | safe }}
        </div>
    </article>

    <nav id="otherPosts">
    {% if collections.postInfo[page.url].nextTitle %}
        <div id="next">
            <span>Next post</span>
            <a href="{{ collections.postInfo[page.url].nextUrl }}">{{ collections.postInfo[page.url].nextTitle }}</a>
        </div>
    {% endif %}
    {% if collections.postInfo[page.url].previousTitle %}
        <div id="previous">
            <span>Previous post</span>
            <a href="{{ collections.postInfo[page.url].previousUrl }}">{{ collections.postInfo[page.url].previousTitle }}</a>
        </div>
    {% endif %}
    </nav>
    {% set js %}
        {% include "share.js" %}
    {% endset %}

    <script>
        {{ js | jsmin | safe }}
    </script>
{% endblock %}