body {
    line-height: 1.6;
}

#header-avatar {
    max-width: 175px;
    max-height: 175PX;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 50%;
}

header {
    height: 200px;
    text-align: center;
    margin-bottom: var(--space-lg);
    margin-top: var(--space-xl);
}

section {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: var(--space-xl);
}

section:last-of-type {
    border-bottom: none;
}

h2 {
    font-size: 1.1rem;
    margin-bottom: var(--space-lg);
    font-weight: 600;
}

#introduction-section {
    display: flex;
    flex-direction: column;
}

#introduction-section span {
    margin-right: var(--space-xl);
    margin-left: var(--space-xl);
    margin-bottom: var(--space-lg);
}

#introduction-section span:last-of-type {
    margin-bottom: var(--space-xl);
}

#ten-sec-bio ul {
    margin-right: var(--space-xl);
}

#ten-sec-bio li {
    margin-bottom: var(--space-lg);
}