body {
    line-height: 1.6;
}

#header-avatar {
    max-width: 175px;
    max-height: 175PX;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 50%;
}

header {
    height: 200px;
    text-align: center;
    margin-bottom: var(--space-lg);
    margin-top: var(--space-xl);
}

section {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: var(--space-xl);
}

section:last-of-type {
    border-bottom: none;
    margin-bottom: var(--space-xxl);
}

h2 {
    font-size: 1.4rem;
    margin-bottom: var(--space-lg);
    font-weight: 600;
}

.right {
    margin-bottom: var(--space-xl);
}

@media only screen and (min-width: 920px) {
    #main-container>section {
        flex-direction: row;
    }
    .left, .right {
        width: 50%;
    }
    .left {
        margin-right: 0;
    }
    #introduction-section .right {
        margin-top: var(--space-xl);
    }
    p, h2, h3, .right #most-recent-post footer a {
        margin-left: 0;
    }
    .left>* {
        text-align: center;
    }
}