:root {
    --space-sm: .25rem;
    --space-med: .5rem;
    --space-lg: 1rem;
    --space-xl: 2rem;
    --space-xxl: 4rem;
    --color-dark: hsl(0, 0%, 13%);
    --color-grey: hsl(0, 0%, 29%);
    --color-light-grey: hsl(0, 0%, 45%);
}

* {
    color: var(--color-dark);
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    margin: 0 var(--space-xl) var(--space-med) var(--space-xl);
}

p {
    line-height: 1.5;
    margin: 0 var(--space-xl) var(--space-med) var(--space-xl);
}

section {
    margin-bottom: var(--space-lg);
}

.bowlby {
    font-family: 'Bowlby One SC', cursive;
}

.sourceSansPro {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Main navigation */

#main-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 730px;
    margin-top: 50px;
    min-height: calc(100vh - 122px);
    overflow: hidden;
}

#mainNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, .11);
    z-index: 2;
    background: #fff;
}

#navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: var(--space-xl);
    width: 100%;
    letter-spacing: 1px;
    text-decoration: none;
}

#header-buttons {
    display: none;
    flex-direction: column;
    justify-content: inherit;
    overflow: hidden;
    width: 100%;
}

#header-buttons a {
    text-decoration: none;
}

.fullscreen #header-buttons {
    display: flex;
    margin-left: var(--space-xl);
}

.fullscreen #logo {
    display: none;
}

.header-button {
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    margin: var(--space-med) 0 var(--space-med) var(--space-lg);
    padding: 5px 8px 5px 8px;
    position: relative;
}

.fullscreen .header-button {
    padding-left: 0;
    text-align: left;
}

.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-right: var(--space-lg);
}

.bar1, .bar2, .bar3 {
    width: 18px;
    height: 2.5px;
    background-color: #333;
    margin: 3.5px 0 0 0;
    transition: 0.4s;
}

.bar3 {
    margin-bottom: 6px;
}

/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}

#nav-header {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
}

#mainNav.fullscreen {
    height: 100%;
}

.fullscreen #navContainer {
    flex-direction: column-reverse;
    justify-content: flex-end;
}

#mainNav.fullscreen button {
    font-size: 1.4rem;
    border: none;
    margin-left: 0;
}

#mainNav.fullscreen button:hover {
    background-color: inherit;
    color: initial;
}

/** Footer **/

#pageFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75px;
    text-align: center;
}

#social {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-lg);
}

#social>a+a {
    margin-left: var(--space-lg);
}

#social img {
    height: 25px;
    width: 25px;
}

#copyright {
    margin-bottom: var(--space-lg);
    color: var(--color-grey);
}

@media only screen and (min-width: 768px) {
    #main-container {
        width: 70%;
        margin: 50px auto 0;
    }
    #mainNav {
        justify-content: center;
    }
    #navContainer {
        width: 70%;
        max-width: 730px;
        margin: auto;
    }
    #nav-header {
        display: none;
    }
    #header-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    #home-button {
        display: none;
    }
    .header-button {
        border: none;
        color: var(--color-grey);
        font-size: 16px;
        font-weight: 400;
    }
    .header-button:hover {
        background-color: white;
        color: var(--color-black);
    }
    .header-button:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .header-button:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@media only screen and (min-width: 920px) {
    #social>a+a {
        margin-left: var(--space-xl);
    }
}