article {
    margin-bottom: var(--space-xl);
}

.articleContent {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
}

.articleContent p {
    margin-left: 0;
    margin-right: 0;
    font-size: 1em;
    margin-bottom: var(--space-lg);
}

.articleContent h1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: var(--space-lg);
}

.articleContent img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.articleContent blockquote {
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

.articleContent blockquote:before {
    content: '';
    border-left: 4px solid #000;
    height: 100%;
    width: 4px;
    position: absolute;
    left: -15px;
}

.articleContent h2 {
    margin-left: 0;
    font-weight: 700;
    font-size: 1.375em;
}

.articleContent p>a {
    color: #2A5DB0;
}

header {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 2rem;
}

header h1 {
    margin-bottom: var(--space-lg);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}

#headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#postInfo {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-left: var(--space-xl);
    color: var(--color-grey);
    font-weight: 400;
    font-size: .9rem;
}

#postInfo span {
    margin-bottom: var(--space-sm);
    font-weight: 600;
}

#shareButtons {
    display: flex;
    justify-content: flex-end;
    margin-right: var(--space-xl);
}

#shareButtons a {
    margin-left: var(--space-sm);
    width: 30px;
    height: 30px;
}

#mainImage {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-bottom: var(--space-xl);
}

#mainImage img {
    width: 100%;
}

#otherPosts {
    margin-left: var(--space-xl);
    margin-bottom: var(--space-xl);
    margin-right: var(--space-xl);
}

#next, #previous {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#next {
    float: right;
    text-align: right;
}

#previous {
    float: left;
}

#next span, #previous span {
    margin-bottom: var(--space-sm);
}